/* navigation bar */

.nav-list {
    display: flex;
    align-items: center;
    justify-content: left;
    box-shadow: 5px 5px 5px lightblue;
    justify-content: flex-start;

}

.nav-item {
    margin: 1rem;
    padding: 0.5rem;
    list-style: none;
}

.nav-item a {
    text-decoration: none;
    color: white;
    font-size: 1.25rem;
}

.nav-item a:hover {
    color:#FBF8BE;
}

/* intro */

.intro {
    font-size: 3rem;
    color: #FBF8BE;
    padding-left: 4rem;
    padding-bottom: 0rem;
    margin: 0rem;
}

.title {
    font-size: 2rem;
    color: #FBF8BE;
    padding-left: 4rem;
    padding-top: 0rem;
    margin: 0rem;
}

body {
    background-color: royalblue;
}

/* about section*/

.about {
    background-color: #FBF8BE;
    padding: 1rem;
    border-radius: 15px;
    margin: 4rem;
    display: flex;
    flex-direction: row;
    
    
}

.student {
    padding: 0.5rem;
    font-size: 1.25rem;
    text-align: center;
    background-color: #FBF8BE;
    line-height: 2rem;
}

.programmer {
    padding: 0.5rem;
    font-size: 1.25rem;
    text-align: center;
    background-color: #FBF8BE;
    line-height: 2rem;


}

.runner {
    padding: 0.5rem;
    font-size: 1.25rem;
    text-align: center;
    background-color: #FBF8BE;
    line-height: 2rem;

}

img {
    margin: 0;
    padding: 0;
    width: 100px;
    height: 100px;
    
}

/* projects section */

.projects {
    background-color: #FBF8BE;
    padding: 1rem;
    border-radius: 15px;
    margin: 4rem;
    display: flex;
    flex-direction: column;
}

.personalSite {
    padding: 0.5rem;
    font-size: 1.25rem;
    text-align: center;
    background: #FBF8BE;
    line-height: 2rem;
}



/* experiences section */

.experiences {
    background-color: #FBF8BE;
    padding: 1rem;
    border-radius: 15px;
    margin: 4rem;
    display: flex;
    flex-direction: column;
}

.jobs {
    padding: 0.5rem;
    font-size: 1.25rem;
    text-align: center;
    background-color: #FBF8BE;
    line-height: 2rem;


}

.jobs img {
    border-radius: 15%;
}

/* contact section */

.contact {
    background-color: #FBF8BE;
    padding: 1rem;
    font-size: 1.25rem;
    border-radius: 15px;
    margin: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.reachOut {
    padding: 0.25rem;
    font-size: 1.25rem;
    text-align: center;
    background-color: #FBF8BE;
    display: flex;
    flex-direction: column;

}

.contactIcons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contactIcons img {
    padding: 1rem;
}

.footer {
    background-color: #FBF8BE;
    display: flex;
    justify-content: center;
    margin: 4rem;
    border-radius: 15px;
}



